02=            Linked Comm-B segment 2
03=            Linked Comm-B segment 3
04=            Linked Comm-B segment 4
05=17.01|18.52,Extended squitter airborne position
06=17.02|18.51,Extended squitter surface position
07=17.03|18.50,Extended squitter status
08=17.04|18.49,Extended squitter identification and type
09=17.05|18.48,Extended squitter airborne velocity
0a=17.06|18.47,Extended squitter event-driven information variable
0b=18.46      ,Air/air information 1 (aircraft state)
0c=18.45      ,Air/air information 2 (aircraft intent)
0d=18.44      ,Reserved for air/air state information
0e=18.43      ,Reserved for air/air state information
0f=18.42      ,Reserved for ACAS
10=            Data link capability report
11=10.51      ,Data link capability report
# -------  NIC nekontrolovat, to by se zamotaly kontroly 18.41
11=18.40      ,Reserved for extension to datalink capability reports
12=18.39      ,Reserved for extension to datalink capability reports
13=18.38      ,Reserved for extension to datalink capability reports
14=18.37      ,Reserved for extension to datalink capability reports
15=18.36      ,Reserved for extension to datalink capability reports
16=18.35      ,Reserved for extension to datalink capability reports
17=10.25      ,Common usage GICB capability report 
18=10.25      ,Mode S specific services GICB capability reports
19=18.32      ,Mode S specific services GICB capability reports
1a=18.31      ,Mode S specific services GICB capability reports
1b=18.30      ,Mode S specific services GICB capability reports
1c=18.29      ,Mode S specific services GICB capability reports
1d=10.25|18.28,Mode S specific services MSP capability reports
1e=18.27      ,Mode S specific services MSP capability reports
1f=18.26      ,Mode S specific services MSP capability reports
20=10.33      ,Aircraft identification
# -------  18.25
21=17.08|18.24,Aircraft and airline registration markings
22=18.23      ,Antenna positions
23=18.22      ,Reserved for antenna position
24=18.21      ,Reserved for aircraft parameters
25=18.20      ,Aircraft type
26=18.19      ,Unassigned
27=18.18      ,Unassigned
28=18.17      ,Unassigned
29=18.16      ,Unassigned
2a=18.15      ,Unassigned
2b=18.14      ,Unassigned
2c=18.13      ,Unassigned
2d=18.12      ,Unassigned
2e=18.11      ,Unassigned
2f=18.10      ,Unassigned
30=10.25      ,ACAS active resolution advisory
# -------  18.09
31=18.08      ,Unassigned
32=18.07      ,Unassigned
33=18.06      ,Unassigned
34=18.05      ,Unassigned
35=18.04      ,Unassigned
36=18.03      ,Unassigned
37=18.02      ,Unassigned
38=18.01      ,Unassigned
39=19.56      ,Unassigned
3a=19.55      ,Unassigned
3b=19.54      ,Unassigned
3c=19.53      ,Unassigned
3d=19.52      ,Unassigned
3e=19.51      ,Unassigned
3f=19.50      ,Unassigned
40=17.09|19.49,Selected vertical intention
41=17.10|19.48,Next waypoint identifier
42=17.11|19.47,Next waypoint position
43=17.12|19.46,Next waypoint information
44=17.13|19.45,Meteorological routine air report
45=17.14|19.44,Meteorological hazard report
46=19.43      ,Reserved for flight management system Mode 1
47=19.42      ,Reserved for flight management system Mode 2
48=17.15|19.41,VHF channel report
49=19.40      ,Unassigned
4a=19.39      ,Unassigned
4b=19.38      ,Unassigned
4c=19.37      ,Unassigned
4d=19.36      ,Unassigned
4e=19.35      ,Unassigned
4f=19.34      ,Unassigned
50=17.16|19.33,Track and turn report
51=17.17|19.32,Position report coarse
52=17.18|19.31,Position report fine
53=17.19|19.30,Air-referenced state vector
54=17.20|19.29,Waypoint 1
55=17.21|19.28,Waypoint 2
56=17.22|19.27,Waypoint 3
57=19.26      ,Unassigned
58=19.25      ,Unassigned
59=19.24      ,Unassigned
5a=19.23      ,Unassigned
5b=19.22      ,Unassigned
5c=19.21      ,Unassigned
5d=19.20      ,Unassigned
5e=19.19      ,Unassigned
5f=17.23|19.18,Quasi-static parameter monitoring
60=17.24|19.17,Heading and speed report
61=19.16      ,Extended squitter emergency/priority status
62=19.15      ,Current trajectory change point
63=19.14      ,Next trajectory change point
64=19.13      ,Aircraft operational coordination message
65=19.12      ,Aircraft operational status
66=19.11      ,Reserved for extended squitter
67=19.10      ,Reserved for extended squitter
68=19.09      ,Reserved for extended squitter
69=19.08      ,Reserved for extended squitter
6a=19.07      ,Reserved for extended squitter
6b=19.06      ,Reserved for extended squitter
6c=19.05      ,Reserved for extended squitter
6d=19.04      ,Reserved for extended squitter
6e=19.03      ,Reserved for extended squitter
6f=19.02      ,Reserved for extended squitter
70=19.01      ,Reserved for future aircraft downlink parameters
71=1a.56      ,Reserved for future aircraft downlink parameters
72=1a.55      ,Reserved for future aircraft downlink parameters
73=1a.54      ,Reserved for future aircraft downlink parameters
74=1a.53      ,Reserved for future aircraft downlink parameters
75=1a.52      ,Reserved for future aircraft downlink parameters
76=1a.51      ,Unassigned
77=1a.50      ,Unassigned
78=1a.49      ,Unassigned
79=1a.48      ,Unassigned
7a=1a.47      ,Unassigned
7b=1a.46      ,Unassigned
7c=1a.45      ,Unassigned
7d=1a.44      ,Unassigned
7e=1a.43      ,Unassigned
7f=1a.42      ,Unassigned
80=1a.41      ,Unassigned
81=1a.40      ,Unassigned
82=1a.39      ,Unassigned
83=1a.38      ,Unassigned
84=1a.37      ,Unassigned
85=1a.36      ,Unassigned
86=1a.35      ,Unassigned
87=1a.34      ,Unassigned
88=1a.33      ,Unassigned
89=1a.32      ,Unassigned
8a=1a.31      ,Unassigned
8b=1a.30      ,Unassigned
8c=1a.29      ,Unassigned
8d=1a.28      ,Unassigned
8e=1a.27      ,Unassigned
8f=1a.26      ,Unassigned
90=1a.25      ,Unassigned
91=1a.24      ,Unassigned
92=1a.23      ,Unassigned
93=1a.22      ,Unassigned
94=1a.21      ,Unassigned
95=1a.20      ,Unassigned
96=1a.19      ,Unassigned
97=1a.18      ,Unassigned
98=1a.17      ,Unassigned
99=1a.16      ,Unassigned
9a=1a.15      ,Unassigned
9b=1a.14      ,Unassigned
9c=1a.13      ,Unassigned
9d=1a.12      ,Unassigned
9e=1a.11      ,Unassigned
9f=1a.10      ,Unassigned
a0=1a.09      ,Unassigned
a1=1a.08      ,Unassigned
a2=1a.07      ,Unassigned
a3=1a.06      ,Unassigned
a4=1a.05      ,Unassigned
a5=1a.04      ,Unassigned
a6=1a.03      ,Unassigned
a7=1a.02      ,Unassigned
a8=1a.01      ,Unassigned
a9=1b.56      ,Unassigned
aa=1b.55      ,Unassigned
ab=1b.54      ,Unassigned
ac=1b.53      ,Unassigned
ad=1b.52      ,Unassigned
ae=1b.51      ,Unassigned
af=1b.50      ,Unassigned
b0=1b.49      ,Unassigned
b1=1b.48      ,Unassigned
b2=1b.47      ,Unassigned
b3=1b.46      ,Unassigned
b4=1b.45      ,Unassigned
b5=1b.44      ,Unassigned
b6=1b.43      ,Unassigned
b7=1b.42      ,Unassigned
b8=1b.41      ,Unassigned
b9=1b.40      ,Unassigned
ba=1b.39      ,Unassigned
bb=1b.38      ,Unassigned
bc=1b.37      ,Unassigned
bd=1b.36      ,Unassigned
be=1b.35      ,Unassigned
bf=1b.34      ,Unassigned
c0=1b.33      ,Unassigned
c1=1b.32      ,Unassigned
c2=1b.31      ,Unassigned
c3=1b.30      ,Unassigned
c4=1b.29      ,Unassigned
c5=1b.28      ,Unassigned
c6=1b.27      ,Unassigned
c7=1b.26      ,Unassigned
c8=1b.25      ,Unassigned
c9=1b.24      ,Unassigned
ca=1b.23      ,Unassigned
cb=1b.22      ,Unassigned
cc=1b.21      ,Unassigned
cd=1b.20      ,Unassigned
ce=1b.19      ,Unassigned
cf=1b.18      ,Unassigned
d0=1b.17      ,Unassigned
d1=1b.16      ,Unassigned
d2=1b.15      ,Unassigned
d3=1b.14      ,Unassigned
d4=1b.13      ,Unassigned
d5=1b.12      ,Unassigned
d6=1b.11      ,Unassigned
d7=1b.10      ,Unassigned
d8=1b.09      ,Unassigned
d9=1b.08      ,Unassigned
da=1b.07      ,Unassigned
db=1b.06      ,Unassigned
dc=1b.05      ,Unassigned
dd=1b.04      ,Unassigned
de=1b.03      ,Unassigned
df=1b.02      ,Unassigned
e0=1b.01      ,Unassigned
e1=17.27|1C.56,Mode S BITE
e2=17.28|1C.55,Mode S BITE
e3=1C.54      ,Transponder type/part number
e4=1C.53      ,Transponder software revision number
e5=1C.52      ,ACAS unit part number
e6=1C.51      ,ACAS unit software revision number
e7=1C.50      ,Unassigned
e8=1C.49      ,Unassigned
e9=1C.48      ,Unassigned
ea=1C.47      ,Unassigned
eb=1C.46      ,Unassigned
ec=1C.45      ,Unassigned
ed=1C.44      ,Unassigned
ee=1C.43      ,Unassigned
ef=1C.42      ,Unassigned
f0=1C.41      ,Unassigned
f1=17.29|1C.40,Military applications
f2=1C.39      ,Military applications
f3=1C.38      ,Unassigned
f4=1C.37      ,Unassigned
f5=1C.36      ,Unassigned
f6=1C.35      ,Unassigned
f7=1C.34      ,Unassigned
f8=1C.33      ,Unassigned
f9=1C.32      ,Unassigned
fa=1C.31      ,Unassigned
fb=1C.30      ,Unassigned
fc=1C.29      ,Unassigned
fd=1C.28      ,Unassigned
fe=1C.27      ,Unassigned
ff=1C.26      ,Unassigned
